@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
	font-family: "Honk2";
	src: url("../../Fonts/Honk/Honk.ttf");
}

body {
	color: white;
	background-color: #3cae3f;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

#logoContainer {
	top: 0;
	margin-top: 10px;
	position: fixed;
	width: 100%;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: center;
	justify-content: right;
	background-color: #6bd66e;
}

#pfp {
	cursor: pointer;
	position: absolute;
	left: 0;
	width: 3em;
	height: 3em;
	border-radius: 2em;
	margin-left: 10px;
	transition: border 0.3s, margin-left 0.3s;
}

#pfp:hover {
	border: 4px solid black;
	margin-left: 6px;
}

#pfp:active {
	border-color: blue;
}

#mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
}

@media (max-width: 1100px) {
	#navLinksContainer {
		position: fixed;
		bottom: 0;
		right: 15%;
		padding-bottom: 40px;
	}
	
	.nav-link {
		bottom: 0;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
		font-style: italic;
		font-size: 2rem;
		color: white;
		text-decoration: none;
		margin: 10px 0;
		padding: 10px 20px;
		background-color: #6bd66e;
		border-radius: 5px;
		transition: background-color 0.3s, transform 0.3s;
	}

	.nav-link:hover {
		background-color: #5ac05b;
		transform: scale(1.05);
	}

	.nav-link:active {
		background-color: #4dab49;
	}
	
	#mainContainer {
		margin-top: 200px;
		font-size: 3em;
	}

	#username {
		position: absolute;
		visibility: hidden;
	}

	#logo,
	h3 {
		font-size: 3rem;
		text-align: center;
		padding-right: 10px;
	}

	#logo {
		font-family: "Honk2";
		letter-spacing: 2px;
	}

	h3 {
		font-family: "Lato";
	}

	#pfp {
		width: 4em;
		height: 4em;
	}
}

@media (min-width: 1200px) {

	.nav-link {
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
		font-style: italic;
		font-size: 2rem;
		color: white;
		text-decoration: none;
		margin: 10px 0;
		padding: 10px 20px;
		background-color: #6bd66e;
		border-radius: 5px;
		transition: background-color 0.3s, transform 0.3s;
	}

	.nav-link:hover {
		background-color: #5ac05b;
		transform: scale(1.05);
	}

	.nav-link:active {
		background-color: #4dab49;
	}
	
	#mainContainer {
		margin-top: 150px;
	}

	#username {
		position: absolute;
		left: 0;
		margin-left: 75px;
	}

	#logo,
	h3 {
		font-size: 2rem;
		padding-right: 10px;
	}

	#logo {
		font-family: "Honk2";
		letter-spacing: 2px;
	}

	h3 {
		font-family: "Lato";
	}

	h3#page {
		padding-left: 40px;
	}

	#pfp {
		width: 3em;
		height: 3em;
	}
}